#root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.application{
  min-height: 100vh
}

.main{
  padding-bottom: 5vh;
}

.application-header{
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.application-header-navbar{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.application-header-navbar-link:hover{
  text-decoration: none !important;
  color: #8D4CF9;
}

h1{
  font-weight: 600;
  font-size: 1.5rem;
}

.apresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.apresentation h1{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #1232A4 0%, #8D4CF9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentation-options{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.apresentation-options .apresentation-options-link{
  background-color: #461890 !important;
  padding: .25rem;
  width: 6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: .5s;
}

.apresentation-options .apresentation-options-link:hover{
  text-decoration: none;
  color: #662ac6;
  border-color: #461890;
  background-color: #242424 !important;
}

.application-footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #1232A4 0%, #8D4CF9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}